* {
    margin: 0px;
    padding: 0px;
}

body {
    position: relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: beige;
    color:black    
}

h1,
h2 {
    margin: 20px
}

main {
    padding: 60px;
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration:none;
}

a {
    text-decoration: none;
    color: white;
}